*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  position: relative;
}

.head {
  width: 200px;
  height: 150px;
  background: #f3cfc3;
  border-radius: 40px 40px 0 0;
  position: relative;
}

.head .hair {
  width: 60px;
  height: 60px;
  position: absolute;
  background: orange;
  top: -60px;
  left: calc(50% - 60px);
  border-radius: 50%;
}

.head .hair::before {
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: orange;
  position: absolute;
  top: 30px;
  left: calc(50% - 25px);
  left: 55%;
  z-index: -1;
}

.head .hair .inner {
  width: 200px;
  height: 60px;
  position: absolute;
  top: 60px;
  left: -40px;
  z-index: 2;
  border-radius: 40px 40px 0 0;
}

.head .hair .inner::before {
  content: "";
  width: 30px;
  height: 60px;
  background: orange;
  position: absolute;
  border-radius: 40px 0;
  top: 3px;
  left: 1px;
  opacity: .4;
}

.head .hair .inner::after {
  content: "";
  width: 30px;
  height: 60px;
  background: orange;
  position: absolute;
  border-radius: 0px 40px;
  top: 3px;
  right: 1px;
  opacity: .4;
}

.head .ears {
  width: 200px;
  height: 30px;
  top: calc(50% - 20px);
  position: relative;
  z-index: 2;
}

.head .ears::before {
  content: "";
  width: 30px;
  height: 30px;
  background: #f3cfc3;
  position: absolute;
  border-radius: 50%;
  left: -20px;
}

.head .ears::after {
  content: "";
  width: 30px;
  height: 30px;
  background: #f3cfc3;
  position: absolute;
  border-radius: 50%;
  right: -20px;
}

.head .eyes {
  width: 120px;
  height: 60px;
  margin: 0 auto;
}

.head .eyes::before {
  content: "";
  width: 40px;
  height: 60px;
  background: white;
  border-radius: 20px;
  position: absolute;
  top: 30px;
  left: 55px;
}

.head .eyes::after {
  content: "";
  width: 40px;
  height: 60px;
  background: white;
  border-radius: 20px;
  position: absolute;
  top: 30px;
  right: 55px;
}

.head .eyes .aux {
  width: 100px;
  height: 50px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.head .eyes .aux::before {
  content: "";
  width: 20px;
  height: 32px;
  background: #141414;
  position: absolute;
  border-radius: 10px;
  top: calc(50% - 10px);
  left: 20%;
}

.head .eyes .aux::after {
  content: "";
  width: 20px;
  height: 32px;
  background: #141414;
  position: absolute;
  border-radius: 10px;
  top: calc(50% - 10px);
  right: 20%;
}

.head .eyes .aux-2 {
  width: 100px;
  height: 20px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.head .eyes .aux-2::before {
  content: "";
  width: 12px;
  height: 16px;
  background: white;
  position: absolute;
  border-radius: 50%;
  top: -40px;
  left: 20%;
}

.head .eyes .aux-2::after {
  content: "";
  width: 12px;
  height: 16px;
  background: white;
  position: absolute;
  border-radius: 50%;
  top: -40px;
  right: 27%;
}

.head .nose {
  position: relative;
  background: red;
  width: 16px;
  height: 16px;
  border-radius: 0 50% 50% 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0 auto;
  top: -8px;
  background: #d6968b;
}

.head .mouth {
  width: 28px;
  height: 20px;
  border-radius: 50%;
  border: 5px solid #d6968b;
  border-top: none;
  border-left: none;
  border-right: none;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  top: 64%;
  left: 40%;
  position: absolute;
}

.shirt {
  background: #67d7f9;
  width: 200px;
  height: 70px;
  position: relative;
}

.shirt::before {
  content: "";
  background: inherit;
  width: 240px;
  height: 40px;
  position: absolute;
  top: 0;
  left: -20px;
  border-radius: 20px;
}

.shirt .arms {
  position: absolute;
  width: 240px;
  height: 100px;
  left: -20px;
  z-index: -2;
}

.shirt .arms::before {
  content: "";
  width: 30px;
  height: 90px;
  position: absolute;
  background: #67d7f9;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  top: 5%;
  left: 2px;
}

.shirt .arms::after {
  content: "";
  width: 30px;
  height: 90px;
  position: absolute;
  background: #67d7f9;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  top: 5%;
  right: 2px;
}

.shirt .hands {
  width: 270px;
  height: 50px;
  top: 100%;
  left: -30px;
  position: absolute;
  z-index: -3;
}

.shirt .hands::before {
  content: "";
  width: 30px;
  height: 40px;
  position: absolute;
  background: #f3cfc3;
  border-radius: 50%;
  top: 15%;
  left: 0px;
}

.shirt .hands::after {
  content: "";
  width: 30px;
  height: 40px;
  position: absolute;
  background: #f3cfc3;
  border-radius: 50%;
  top: 15%;
  right: 10px;
}

.short {
  position: relative;
  width: 200px;
  height: 50px;
  background: #3989c1;
}
/*# sourceMappingURL=styles.css.map */