*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background: #ffc10736;
}

.container {
  width: 1280px;
  height: 720px;
  overflow: hidden;
  background: #eac6b5;
  position: relative;
}

.container .mountains {
  width: 1280px;
  height: 420px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.container .mountains::before {
  content: "";
  width: 400px;
  height: 300px;
  position: absolute;
  bottom: -130px;
  left: 0;
  background: #b16e46;
  border-radius: 72px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-box-shadow: 100px -150px #b16e46, 200px -200px #b16e46;
          box-shadow: 100px -150px #b16e46, 200px -200px #b16e46;
}

.container .mountains .big {
  width: 300px;
  height: 200px;
  position: absolute;
  bottom: -50px;
  left: calc(50% - 100px);
  background: #b16e46;
  border-radius: 48px;
  -webkit-transform: rotate(28deg);
          transform: rotate(28deg);
  -webkit-box-shadow: 60px -80px #b16e46;
          box-shadow: 60px -80px #b16e46;
}

.container .mountains .small {
  width: 250px;
  height: 250px;
  background: #bb8353;
  border-radius: 42px;
  position: absolute;
  top: 70%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.container .mountains .small::before {
  content: "";
  width: 290px;
  height: 200px;
  background: #bb8353;
  border-radius: 66px;
  position: absolute;
  top: -35%;
  left: 50%;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  -webkit-box-shadow: 420px -210px #bb8353, 590px -340px #bb8353, 680px -380px #bb8353, 220px -150px #bb8353;
          box-shadow: 420px -210px #bb8353, 590px -340px #bb8353, 680px -380px #bb8353, 220px -150px #bb8353;
}

.container .mountains .small::after {
  content: "";
  width: 170px;
  height: 170px;
  background: #bb8353;
  border-radius: 30px;
  position: absolute;
  top: -305%;
  left: 340%;
}

.container .mountains .aux {
  width: 400px;
  height: 300px;
  position: absolute;
  bottom: -200px;
  right: 100px;
  background: #b16e46;
  border-radius: 66px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-box-shadow: 100px -150px #b16e46, 200px -200px #b16e46;
          box-shadow: 100px -150px #b16e46, 200px -200px #b16e46;
}

.container .sun {
  background: white;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: relative;
  top: 20%;
  left: 65%;
  z-index: 0;
}

.container .sun::before {
  content: "";
  width: 240px;
  height: 240px;
  position: absolute;
  top: calc(50% - 120px);
  left: calc(50% - 120px);
  background: orange;
  opacity: .7;
  border-radius: 50%;
}

.container .sun::after {
  content: "";
  width: 280px;
  height: 280px;
  position: absolute;
  top: calc(50% - 140px);
  left: calc(50% - 140px);
  background: orange;
  opacity: .5;
  border-radius: 50%;
}

.container .ground {
  width: 1280px;
  height: 300px;
  position: absolute;
  background: #c79578;
  bottom: 0;
}

.container .cactus {
  width: 48px;
  height: 400px;
  background: #1a1f0f;
  z-index: 2;
  position: relative;
  top: 18%;
  left: 15%;
  border-radius: 24px 12px 0 0;
}

.container .cactus::before {
  content: "";
  position: absolute;
  width: 110px;
  height: 160px;
  border: 36px solid #1a1f0f;
  border-radius: 30px;
  border-top: none;
  border-left: none;
  top: 25%;
  left: 0;
}

.container .cactus::after {
  content: "";
  position: absolute;
  width: 110px;
  height: 160px;
  border: 36px solid #1a1f0f;
  border-radius: 30px;
  border-top: none;
  border-right: none;
  top: 15%;
  right: 0;
}

.container .second {
  position: relative;
  left: 1060px;
  top: -240px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
/*# sourceMappingURL=styles.css.map */